/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
}
img, iframe{
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.hidden{
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
